[submodule "zsh/.zsh/vendor/pure"]
	path = zsh/.zsh/vendor/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "zsh/.zsh/vendor/z"]
	path = zsh/.zsh/vendor/z
	url = git@github.com:rupa/z.git
[submodule "terminal/fonts"]
	path = terminal/fonts
	url = git@github.com:powerline/fonts.git
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "terminal/vim-hybrid-material"]
	path = terminal/vim-hybrid-material
	url = git@github.com:kristijanhusak/vim-hybrid-material.git
