[submodule "zsh/.zsh/vendor/pure"]
	path = zsh/.zsh/vendor/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "zsh/.zsh/vendor/z"]
	path = zsh/.zsh/vendor/z
	url = git@github.com:rupa/z.git
[submodule "terminal/fonts"]
	path = terminal/fonts
	url = git@github.com:powerline/fonts.git
[submodule "terminal/solarized"]
	path = terminal/solarized
	url = git@github.com:altercation/solarized.git
[submodule "terminal/gnome-terminal-colors-solarized"]
	path = terminal/gnome-terminal-colors-solarized
	url = git@github.com:Anthony25/gnome-terminal-colors-solarized.git
[submodule "terminal/base16-iterm2"]
	path = terminal/base16-iterm2
	url = git@github.com:chriskempson/base16-iterm2.git
[submodule "terminal/base16-gnome-terminal"]
	path = terminal/base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal.git
[submodule "zsh/.zsh/vendor/base16-shell"]
	path = zsh/.zsh/vendor/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "terminal/hack-font"]
	path = terminal/hack-font
	url = git@github.com:chrissimpkins/Hack.git
